body {
  font-size: 16px;
}
.modal,
.hero-unit {
  border-radius: 0px;
}
.home {
  color: #808080;
  font-size: 18px;
  text-decoration: none;
  margin-left: 10px;
}
header {
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  text-align: center;
  font-size: 14px;
}
header .progress {
  margin-bottom: 10px;
}
#main {
  margin-top: 70px;
}
#main-container #raw [editable] {
  transition: all 0.3s ease-out;
  border-right: 1px solid darkred;
}
#main-container #raw [editable]:hover {
  background: lightcyan;
}
#main-container #raw [data-translate] {
  border-right: 1px solid transparent;
}
#main-container #raw.editing {
  color: lightgray;
}
#main-container #raw.editing .editing {
  color: #000000;
  background: lightyellow;
}
#main-container #processed {
  height: 100%;
}
#main-container #processed article > * {
  position: absolute;
  overflow: auto;
}
#main-container #processed article .hover {
  background: lightcyan;
}
#main-container article {
  position: relative;
}
#input,
#result,
#translation {
  width: 800px;
  margin-left: -400px;
}
#input textarea,
#result textarea,
#translation textarea {
  height: 400px;
}
#translation section {
  overflow: auto;
}
@media screen and (max-width: 770px) {
  #main-container #processed {
    display: none;
  }
}
