body {
  font-size: 16px;
}
.modal {
  border-radius: 0px;
}
.hero-unit {
  border-radius: 0px;
}
#main-container #raw [editable]:hover {
  background: lightcyan;
}
#main-container #raw.editing {
  color: lightgray;
}
#main-container #raw.editing .editing {
  color: #000000;
  background: lightyellow;
}
#result {
  width: 800px;
  margin-left: -400px;
}
#result textarea {
  height: 400px;
}
