body {
	font-size: 16px;
}

.modal, .hero-unit {
	border-radius: 0px;
}

.home {
	color: #808080;
	font-size: 18px;
	text-decoration: none;
	margin-left: 10px;
}

#main-container {
	#raw {
		[editable] {
			transition: all .3s ease-out;
			&:hover {
				background: lightcyan;
			}
		}
		&.editing {
			color: lightgray;
			.editing {
				color: #000000;
				background: lightyellow;
			}
		}
	}
	#processed {
		height: 100%;
		article {
			> * {
				position: absolute;
				overflow: auto;
			}
			.hover {
				background: lightcyan;
			}
		}
	}
	article {
		position: relative;
	}
}

#input, #result {
	width: 800px;
	margin-left: -400px;
	textarea {
		height: 400px;
	}
}

@media screen and (max-width: 770px) {
	#main-container {
		#processed {
			display: none;
		}
	}
}